:root {
  --bs-dark-primary: #ee851e;
  --bs-primary: #ff8a36;
  --bs-secondary: #ffb08a;
  --bs-light: #ffffff;
  --bs-dark: #232323;

  --bs-dark-primary-rgb: 238, 133, 30;
  --bs-primary-rgb: 255, 138, 54;
  --bs-secondary-rgb: 255, 176, 138;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 35, 35, 35;
}

body {
  color: var(--bs-dark);
  background: var(--bs-secondary);
}

.hidden {
  display:none;
}

.nav-link:hover {
  background-color: var(--bs-dark-primary);
}

