:root {
  --bs-dark-primary: #ee851e;
  --bs-primary: #ff8a36;
  --bs-secundary: #ffb08a;
  --bs-light: #ffffff;
  --bs-dark: #232323;
}

body {
  color: var(--bs-dark);
  background: var(--bs-secundary);
}
